<div class="container">
  <h1 class="text-center p-5">Payment Form</h1>

  <div class="row">
    <div class="form-group col">
      <label for="">Payee name</label>
      <div>
        <input class="form-control" (input)="OnNameChange($any($event.target).value)" />
      </div>
    </div>


    <div class="col">
      <label for=""><b>Name</b></label>
      <div>
        {{name | titlecase}}
      </div>
    </div>

  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Payment date</label>
      <div>
        <input type="date" class="form-control" (input)="OnDateChange($any($event.target).value)" />
      </div>
    </div>


    <div class="col">
      <label for=""><b>Payment date</b></label>
      <div>
        {{date | date: 'MMMM d, y'}}
      </div>
    </div>

  </div>

  <div class="row">
    <div class="form-group col">
      <label for="">Payment Amount</label>
      <div>
        <input type="" class="form-control" (input)="OnAmountChange($any($event.target).value)" />
      </div>
    </div>


    <div class="col">
      <label for=""><b>Payment Amount</b></label>
      <div>
        {{ amount | currency: 'INR'}}
      </div>
    </div>

  </div>
  <div class="row">
    <div class="form-group col">
      <label for="">Height</label>
      <div>
        <input type="" class="form-control" (input)="OnHeightChange($any($event.target).value)" />
      </div>
    </div>


    <div class="col">
      <label for=""><b>Height</b></label>
      <div>
        {{ height | number: '1.0-0'}}
      </div>
    </div>

  </div>

</div>